.visualizer-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: column;
    border: 3px solid black;
    height: 720px;
}
.array-container {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 3px solid black;
    margin-top: 10px;
    height: 500px;
    align-items: flex-end;
    justify-content: space-evenly;
}
.array-bar {
    width: 10px;
    background-color: red;
    display: inline-block;
    margin: 0 1px;
    border: 2px solid rgb(0, 0, 0);
}

.controls {
    display: flex;
    flex-wrap: nowrap;
    position:absolute;
    bottom: 4%;
    left: 1%;
    width: 90%;
}

h1 {
    color: white;
    background-color: black;
}
.header {
    margin-top: 10px;
}
.controls > button {
    background-color: #4CAF50; /* Green */
    border: 1px solid darkgreen;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.3s;
    margin-right: 5px;
}
button:hover {
    position: relative;
    background-color: darkgreen;
    color: white;
    bottom: 2px;
}
.animations {
    margin-left: 50px;
    padding: 5px;
    width: 33%;
}
.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    padding: 10px;
    margin-top: 40px;
}
#githublogo {
    filter:invert(1);
    margin-left: 30px;
}
#handshakelogo {
    filter: grayscale(1);
    margin-left: 30px;
    margin-top: 5px;
}
.footer > h2 {
    color: white;
}